.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(0,0,0,0.15);
    box-sizing: border-box;
}

.nav_list{
    display: flex;
    justify-content: space-between;
}
.nav_link{
    color: #2e363e;
    position: relative;
}

.nav_notification{
    position: absolute;
    left: 20px;
    bottom: 15px;
    animation: notificationAnimation 1.5s ease-in-out ;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(180deg);
    }
    100%{
        transform: none;
    }
}

.nav_link__noti{
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.nav_btn{
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
    transform: translateY(80px);
 opacity: 0;
}

@keyframes appearBtnAnimation{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.nav_btn:nth-child(2){
    animation-delay: 0.2s ;
}
.nav_btn:nth-child(3){
    animation-delay: 0.5s;
}
.nav_btn:last-child{
    animation-delay: 0.8s;
}
